body {
  overflow: hidden;
  position: absolute;
  width: 100%;
}



* {
    touch-action: none;
}
/* Standard syntax */
@keyframes addition {

    50%  {width:initial+10px; background-color: blue;}
}

.item-animated{
    animation-name: addition;
    animation-duration: 1s;
}

.col-divider{
    border-left:1px solid #999;
    height:70px
}

.bg-sidebar{
    background-color: #dddfe2	;
    /* background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #4e73df), to(#224abe)); */
    /* background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%); */
    background-size: cover;
}

.sidebar-dark #sidebarToggle::after{
    color:black;
}

.border-0{
    border: 1px solid black !important;
}

.sidebar-dark #sidebarToggle::before{
    color:black;
}

.rule-back-color{
    background-color:black;
}

.rule-text-color{
    color:black;
}

.button-color{
    color: black;
    background-color: #67697;
    border-color: black;

}

.button-color.active{
    background-color: #717172

}

.font-title{
    font-size: 1rem !important;
}

input{
    -webkit-appearance: none;
    outline: none;
}

.containerLoad {
    background:#010101;
    width:150px;
    height:40px;
    font-size:11px;
    color:#fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/*line {
  stroke: #999;
  stroke-opacity: 0.6;
}*/

.fa-arrow-down {
    color: #999999;
}

.square-color {
    height: 0.25rem;
    width: 0.25rem;
    background-color: #555;
}

.space2x {
    margin: 10px 0px 10px 10px !important;

}
.left2border {
    margin: 10px !important;

}

.border-1w {
    border-left-width: 0.5rem!important;
    border-left-color: #00ffff !important;
}

.border-2w {
    border-left-width: 0.5rem!important;
    border-left-color: #a00f00 !important;
}

.border-n {
    border-left-style: solid;
    border-left-width: 0.5rem  !important;
}

.node circle{
    /*pointer-events: all;*/
    stroke: black;
    stroke-width: .1em;
    cursor: pointer;
    fill:#c6c8cc;
}

.edge {
    fill: transparent;
    stroke-width: 3.5;
    stroke-opacity: .5;
    pointer-events: visibleStroke;
}
text {
    font-family: sans-serif;
}


.to-right {
    margin-left:auto; margin-right:0;
}


.tool {
    background-color: #fff;
}

.layer {
    color: #000;
    font-family: sans-serif;
    font-size: 22px;
}

.attributeTool {
    background-color: #fff;
    display: none;
    z-index: 100;
}

.database_line{
    position: absolute;
    border: 2px solid black;
    border-bottom: none;
    z-index: -10;
    fill: transparent;
    display:none;
    visibility: 0;
}
/*hack for box*/
.mr-2{
    z-index:100 !important;
}

svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /*font-family: FontAwesome;*/
}

#gradients{
    padding: 0;
    border: 0;
    margin: 0;
    height: 0;
    width: 0;
    z-index: -100;

}

#wrapper{
    height: 100%;
}
/*note - does not work for svgs. took way too long to figure that out*/
/*.glow {
    
    stroke: green;
    stroke-width: 10px;   
    -webkit-transition: stroke 1s linear, box-shadow 1s linear;
       -moz-transition: stroke 1s linear, box-shadow 1s linear;
            transition: stroke 1s linear, box-shadow 1s linear;
}



.glow.active{
    
    -webkit-box-shadow: 0 0 40px orange;
       -moz-box-shadow: 0 0 40px orange;
            box-shadow: 0 0 40px orange;
}*/

.glow-anim {
    animation: glow-key 2.5s ease infinite;
    stroke: orange;
    stroke-width: 5px;
    stroke-linecap: round;
    -webkit-transition: stroke 1s linear, box-shadow 1s linear;
       -moz-transition: stroke 1s linear, box-shadow 1s linear;
            transition: stroke 1s linear, box-shadow 1s linear;


}


@keyframes glow-key{
   0% {-webkit-filter: box-shadow( -.75px 0px 6px #31eefd );
       filter: box-shadow( -.75px 0px 6px #31eefd ); stroke:#31eefd; stroke-opacity: .25;} 
  
   25%, 75% {-webkit-filter: box-shadow( -.75px 0px 6px #009997 );
                filter: box-shadow( -.75px 0px 6px #009997 ); stroke:#009997;stroke-opacity: .3;}
   50% {-webkit-filter: box-shadow( -.75px 0px 6px #92ffd7 );
                filter: box-shadow( -.75px 0px 6px #92ffd7 ); stroke:#92ffd7; stroke-opacity: .45;} /* end green */      
  100% {-webkit-filter: box-shadow( -.75px 0px 6px #31eefd );
                filter: box-shadow( -.75px 0px 6px #31eefd ); stroke:#31eefd; stroke-opacity: .3;} 
}

